.App-wrapper {
  height: 100vh;
}

.App-sidebar {
  float: left;
  width: 50px;
  height: 100%;
}

.App-buttonbar {
  text-align: center;
}

.App-fillerbar {
  height: 100%;
  background-color: #fff;
}

.App-slide {
  float: left;
  height: 100%;
  width: 900px;
}
